<a href="https://colab.research.google.com/github/ashartn123/python-workshop/blob/master/Copy_of_Day2_Session1_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List Exercises:

1.Print multiples of 3 upto 200 using a list

In [ ]:
lst=[i for i in range(0,200,3)]
print(lst)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

2.print the nos only divisible by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [ ]:
lst=[i for i in range(1000,2001) if(i%5==0 and i%7==0)]
print(lst)

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

3.Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [ ]:
names=[]
n=int(input('Enter n:'))
for i in range(0,n):
  name=input('Enter name:')
  names.append(name)
print('The list is:',names)
alphlist=sorted(names,reverse=False)
print('Names in alphabetical order:',alphlist)
revlist=sorted(names,reverse=True)
print('Names in reverse alphabetical order:',revlist)

Enter n:4
Enter name:asha
Enter name:anu
Enter name:vidya
Enter name:som
The list is: ['asha', 'anu', 'vidya', 'som']
Names in alphabetical order: ['anu', 'asha', 'som', 'vidya']
Names in reverse alphabetical order: ['vidya', 'som', 'asha', 'anu']

4.Print perfect squares divisible by 5 between 500 and 1000( (both inclusive) using list

In [ ]:
lst=[i*i for i in range(500,1001) if i%5==0]
print(lst)

[250000, 255025, 260100, 265225, 270400, 275625, 280900, 286225, 291600, 297025, 302500, 308025, 313600, 319225, 324900, 330625, 336400, 342225, 348100, 354025, 360000, 366025, 372100, 378225, 384400, 390625, 396900, 403225, 409600, 416025, 422500, 429025, 435600, 442225, 448900, 455625, 462400, 469225, 476100, 483025, 490000, 497025, 504100, 511225, 518400, 525625, 532900, 540225, 547600, 555025, 562500, 570025, 577600, 585225, 592900, 600625, 608400, 616225, 624100, 632025, 640000, 648025, 656100, 664225, 672400, 680625, 688900, 697225, 705600, 714025, 722500, 731025, 739600, 748225, 756900, 765625, 774400, 783225, 792100, 801025, 810000, 819025, 828100, 837225, 846400, 855625, 864900, 874225, 883600, 893025, 902500, 912025, 921600, 931225, 940900, 950625, 960400, 970225, 980100, 990025, 1000000]

Tuple Exercises:

1.Get a string and store word by word as elements in a tuple and find the largest word in the tuple and print it

In [ ]:
a=[]
n= int(input("Enter the number of elements in list:"))
for x in range(0,n):
    element=input("Enter element" + str(x+1) + ":")
    a.append(element)
max1=len(a[0])
temp=a[0]
for i in a:
    if(len(i)>max1):
       max1=len(i)
       temp=i
print("The word with the longest length is:")
print(temp)

Enter the number of elements in list:3
Enter element1:asha
Enter element2:vidyashree
Enter element3:somshekhar
The word with the longest length is:
vidyashree

2.get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard and print them in marks descending order with rollno

In [ ]:
import operator
n=int(input('Enter n:'))
d={}
for i in range(0,n):
  name=input('Enter student name:')
  marks=input('Enter marks:')
  d[name]=marks
t=list(d.items())
lst=sorted(t,key=operator.itemgetter(1),reverse=True)
print(lst)

Enter n:4
Enter student name:Asha
Enter marks:88
Enter student name:Vidya
Enter marks:90
Enter student name:Som
Enter marks:75
Enter student name:Ashlesha
Enter marks:91
[('Ashlesha', '91'), ('Vidya', '90'), ('Asha', '88'), ('Som', '75')]

3.Get name and salary (name, salary) as list of tuples for n number of employees through keyboard and print them in name alphabetical order with salary

In [ ]:
import operator
n=int(input('Enter n:'))
d={}
for i in range(0,n):
  name=input('Enter employee name:')
  salary=input('Enter salary:')
  d[name]=salary
t=list(d.items())
lst=sorted(t,key=operator.itemgetter(1),reverse=False)
print(lst)

Enter n:4
Enter employee name:Asha
Enter salary:40000
Enter employee name:Ram
Enter salary:35000
Enter employee name:Shanta
Enter salary:45000
Enter employee name:Rudrappa
Enter salary:50000
[('Ram', '35000'), ('Asha', '40000'), ('Shanta', '45000'), ('Rudrappa', '50000')]